<nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#"><i class="fa d-inline fa-lg fa-cloud"></i><b>Relationsprint</b></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <a class="btn navbar-btn ml-2 text-white btn-secondary"><i class="fa d-inline fa-lg fa-user-circle-o"></i> <%= link_to 'Login', login_path %></a>
      </div>
    </div>
  </nav>
  <div class="align-items-center d-flex photo-overlay py-5 cover">
     <div class="container">
       <div class="row">
         <div class="col-lg-7 align-self-center text-lg-left text-center">
           <h1 class="mb-0 mt-4 display-3">Relationsprint</h1>
           <p class="mb-5 lead">Helping couples argue better</p>
         </div>
         <div class="col-lg-5 p-3">
           <form class="p-4 bg-dark-opaque" method="post">
             <div class="form-group"> <label>Name</label>
               <input class="form-control" placeholder=""></div>
             <div class="form-group"> <label>Email</label>
               <input type="text" class="form-control" placeholder=""></div>
             <div class="form-group"> <label>Password</label>
               <input type="password" class="form-control" placeholder=""> </div>
             <div class="form-group"> <label>Password Confirmation</label>
               <input type="password" class="form-control" placeholder=""> </div>
             <button type="submit" class="btn mt-4 btn-block btn-outline-primary p-2"><b>Sign up!</b></button>
           </form>
         </div>
       </div>
     </div>
   </div>
   <div class="text-center">
     <div class="container">
       <div class="row">
         <div class="col-md-4 p-4">
           <h2 class="mb-4">Contact</h2>
           <p class="m-0">
             <a href="tel:+61 234 567 890" class="text-white">+61 234 567 890</a>
           </p>
           <p>
             <a href="mailto:info@relationsprint.com" class="text-white">info@relationsprint.com</a>
           </p>
         </div>
         <div class="col-md-4 p-4">
           <h2 class="mb-4">Location</h2>
           <p>
             <a href="https://www.google.com.au/maps" target="_blank" class="text-white">General Assembly
               <br>Sydney, Australia 2000</a>
           </p>
         </div>
         <div class="col-md-4 p-4">
           <h2 class="mb-4">Openings</h2>
           <p>11:00 - 15:00 &amp; 19:00 - 00:00 Tue/Fri
             <br>11:00 - 15:00 &amp; 19:00 - 02:00 Sat/Sun</p>
         </div>
       </div>
     </div>
   </div>
   <!-- JavaScript dependencies -->
   <!-- <script src="https://code.jquery.com/jquery-3.2.1.js"></script> -->
   <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
   <!-- Script: Smooth scrolling between anchors in the same page -->
   <!-- <script src="js/smooth-scroll.js"></script> -->
